@import '@/assets/scss/main';

.painel-body {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    // height: 100%;
    padding: 32px 0 32.42px 0;
    border: 1px solid #ccc;
    background-color: $white;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-image {
        position: fixed;
        width: 84.62px;
        height: 54.58px;
        top: 45px;
        left: 80px;
        background-color: $white;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    padding: 32px 0 32px 0;
    background-color: $white;

    dl {
        display: contents;
    }

    .menu-title {
        position: fixed;
        font-size: 14px;
        font-weight: 550;
        letter-spacing: 0.2em;
        top: 132px;
        background-color: $white;
    }

    .menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        width: 198px;
        height: 38px;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: $white;
        // @TODO: alinhar os elementos = figma
        // &:first-child {
        //     background-color: red;
        //     font-weight: bold;
        // }
        // transition: background-color 0.3s;
    }

    .menu-item.active,
    .menu-item:hover {
        background-color: #DEE6F8;

        span {
            background-color: #DEE6F8;
        }
    }

    .menu-item i {
        margin-right: 10px;
        width: 20px;
        text-align: center;
    }

    .menu-item span {
        font-size: 14px;
        color: #333;
        background-color: $white;
    }
}

.content-section {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
    border: 1px solid red;

    &>h2 {
        align-self: normal;
        left: auto;
    }

    // gap: 20px;

    &>.cards {
        display: grid;
        grid-template-areas:
            "title title title"
            "downloads avaliacoes erros"
            "feedbacks feedbacks feedbacks"
            "novas-funcionalidades novas-funcionalidades novas-funcionalidades";
        gap: 24px;
        // width: 100%;
        padding: 24px 0;
        min-height: 130px;
        // justify-content: center;
        position: relative;
        margin-left: 48px;

        width: 90%;

        // border: 1px solid blue;

        &>.title-content-section {
            grid-area: title;
        }

        &>.card-downloads {
            grid-area: downloads;
        }

        &>.card-avaliacoes {
            grid-area: avaliacoes;
        }

        &>.card-erros {
            grid-area: erros;
        }

        &>.card-feedbacks {
            grid-area: feedbacks;
        }

        &>.card-novas-funcionalidades {
            grid-area: novas-funcionalidades;
        }

        &>.card-downloads,
        .card-avaliacoes,
        .card-erros {
            width: 364px;
            height: 141px;
            border: 1px solid #ccc;
            background-color: $white;
        }

        &>.card-feedbacks {
            width: 100%;
            height: 282px;
            border: 1px solid #ccc;
            background-color: $white;
        }

        &>.card-novas-funcionalidades {
            width: 100%;
            height: 141px;
            border: 1px solid #ccc;
            background-color: $white;
        }
    }
}

.content-section-configs {
    width: 100%;
    border: 1px solid red;

    &>h2 {
        align-self: normal;
        left: auto;
    }

    &>.cards {
        display: grid;
        grid-template-areas:
            "title"
            "perfis"
            "usuarios";
        gap: 24px;
        // width: 100%;
        padding: 24px 0;
        min-height: 130px;
        // justify-content: center;
        position: relative;
        margin-left: 48px;

        width: 90%;

        &>.card-perfis {
            grid-area: perfis;
        }

        &>.card-usuarios {
            grid-area: usuarios;
        }

        &>.card-perfis,
        .card-usuarios {
            width: 100%;
            height: 300px;
            border: 1px solid #ccc;
            background-color: $white;
        }

    }
}