@import '@/assets/scss/main';

  .login-body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
  }
  
  .login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 290px;
    height: 220px;
    margin: 306px 172px 306px 131px;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 32px;
    left: 44px;
    span {
        font-size: 20px;
        font-weight: 500;
    }
    .colored-letters {
      color: $second-color-logo;
      font-size: 20px;
    }
  
  }
  
  .welcome-text {
    color: $text;
    font-size: 24px;
    font-weight: 600;
  }
  
  .credentials-text {
    color: $text;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 50%;
  }
  
  .input-group {
    margin-bottom: 1rem;
    width: 278px;
  }
  
  input {
    width: 100%;
    height: 14px;
    padding: 12px 0 12px 10px;
    background-color: $background;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  input::placeholder {
    color: $text;
    font-size: 12px;
    font-weight: 300;
    opacity: 30%;
  }
  
  .login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 290px;
    height: 40px;
    padding: 15px;
    background-color: $second-color-logo;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    .login-span {
        font-size: 12px;
        font-weight: 400;
        background-color: $second-color-logo;
        color: $white;
    }
  }

  .ellipse1 {
    width: 713px;
    height: 713px;
    border: 1px solid $second-color-logo;
    border-radius: 100% 100% / 100% 100%;
    z-index: 0;
    position: fixed;
    right: 0;
    top: 30px;
  }
  .ellipse2 {
    width: 835px;
    height: 835px;
    border: 1px solid $second-color-logo;
    border-radius: 100% 100% / 100% 100%;
    z-index: 0;
    position: fixed;
    right: -60px;
    top: -35px;
    opacity: 50%;
  }
  
  .dashboard {
    position: fixed;
    right: 0;
    z-index: 1;
  }
  
  .dashboard-image {
    position: fixed;
    right: 0;
    top: 74px
  }

  @media (max-width: 1215px) {
    .ellipse1 {
      width: 610px;
      height: 645px;
      right: 0;
      top: 68px;
    }
    .ellipse2 {
      width: 730px;
      height: 740px;
      right: -60px;
      top: 20px;
    }
    
    .dashboard-image {
      width: 592px;
      height: 544px;
      top: 140px;
    }
  }

  @media (max-width: 1089px) {
    .ellipse1 {
      width: 550px;
      height: 550px;
      right: -46px;
      top: 125px;
    }
    .ellipse2 {
      width: 640px;
      height: 640px;
      right: -90px;
      top: 80px;
    }
    
    .dashboard-image {
      width: 492px;
      height: 444px;
      top: 194px
    }
  }

  @media (max-width: 989px) {
    .ellipse1 {
      width: 502px;
      height: 502px;
      right: -36px;
      top: 150px;
    }
    .ellipse2 {
      width: 605px;
      height: 605px;
      top: 98px;
    }
    
    .dashboard-image {
      width: 450px;
      height: 402px;
      top: 212px
    }
  }

  @media (max-width: 945px) {
    .dashboard-section {
      display: none;
    }

    .login-body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .logo {
      left: auto;
    
    }

    .login-section {
      margin: auto;
    }
  }